<div class="row top_container">
  <div class="col-md-6 col-md-offset-3">
    <div class="main_container">
      <h1 class="top_font">Look up your Local Weather Forecast</h1>
      <p class="font_size">Please Select your city and state</p>
      <div>
        <!-- Start creation of form -->
        <%= form_tag(index_path) do %></p>
          <!-- back to the present page after submitting form -->
          <div class="form-group">
            <p><%= text_field_tag :city, nil, placeholder: "City Name", autofocus: true, class: "form-control" %></p><br />
          </div>
          <div class="form-group">
            <%= select_tag :state, options_for_select(@states), prompt: "Please select" %><br />
          </div>
          <div class="form-group">
            <%= submit_tag "Check Weather", class: "btn btn-success" %>
          </div>
        <% end %>
          <!-- We'll display the results here: --> 
          <h1 class="top_font"><em>Forecast for <%= @location %>, <%= @state %>:</em></h1>
          <p class="font_size">
            Current Temperature: <%= @temp_f %>° F / <%= @temp_c %>° C
          </p>
          <p class="font_size">
            Feels like: <%= @real_feel %>° F
          </p>
          <p class="font_size">
            Current Weather Conditions: <%= @weather_words %><%= image_tag @weather_icon %>
          </p>
      </div>
    </div>
  </div>








       




