<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <h1>Look up your Local Weather Forecast</h1>
      <p>What's the weather like in your city?</p>
      <!-- Start creation of form -->
      <div>
        <%= form_tag(index_path) do %>
          <!-- back to the present page after submitting form -->
          <%= text_field_tag :city, nil, placeholder: "City Name" %><br />
          <%= select_tag :state, options_for_select(@states), :prompt => "Please Select" %><br />
          <%= submit_tag "Check Weather" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- We'll display the results here: --> 
<div class="col-md-6 col-md-offset-3">
  <div class="well">
    <h1>Forecast for <%= @location %>:</h1>
    <div class="row">
      <div class="col-md-7">
        <p><em>What's the weather like?</em></p>
        <p class="center">
          Temperature is: <%= @temp_f %>° F / <%= @temp_c %>° C
        </p>
        <p>
          Feels like: <%= @real_feel %>° F
        </p>
        </div>
        <div class="col-md-5">
          <p>
            <%= @weather_words %><%= image_tag @weather_icon %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
